$darkcolor: #002b28;
$lightcolor: #00cdac;

p, ul, ol {
  line-height: 30px;
}

p {
  margin: 10px 0 10px;
}

ul {
  padding: 2% 8%;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: underline;
}

.hero, .screens {
  width: 100%;
}

.center-block {
  float: none;
}
// .info {
//   margin: 0 10%;
// }

.divider {
  border-bottom: 1px solid #ccc;
  margin-top: 25px;
  margin-bottom: 25px;
}

.right-content {
  border-right: 1px solid #ccc;
  padding-right: 4%;
}

.light_bg {
  background-color: #efefef;
}

.personas {
  width: 100%;
}

.uf_title {
  margin-left: 10%;
}

.next {
  height: 70px;
  margin: 15px 0 15px 0;
}

.next-btns {
  text-align: center;
  text-decoration: none;
  color: $darkcolor;
  // margin-bottom: 5%;

  &:hover {
    color: $lightcolor;
  }

}

@media (max-width: 768px) {
  .full-width {
    width: 100%;
  }
}

@media (max-width: 500px) {
  nav li {
    padding: 0 12px;
  }
}
